<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daily Planner</title>
</head>

<body>
<div style="padding: 20px; text-align: center;">
    <input type="button" onclick="location.href='/ticket';" value="Create Ticket"/>
    <input type="button" onclick="location.href='/userPanel';" value="UserPanel"/>
    <input type="button" onclick="location.href='/login';" value="Sign In"/>
    <input type="button" onclick="location.href='/logout';" value="Sign Out"/>
</div>
</body>
</html>