<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div sec:authorize="isAuthenticated()" style="padding: 20px; text-align: center;">
    <a class="btn btn-success" th:href="@{/home}">Home</a>
    <a class="btn btn-primary" th:href="@{/userPanel}">My tickets</a>
    <a class="btn btn-success" th:href="@{/logout}">Logout</a>
    <br/><br/>
</div>
<h1>Sign In:</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<a sec:authorize="isAnonymous()" class="btn btn-primary" th:href="@{/signup}">Register</a>


</body>
</html>