<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up:</h1>
<form th:action="@{/signup}" method="post">
    <div>
        <p>
            <span style="color: red;"
                  th:if="${#fields.hasErrors('user.username')}"
                  th:errors="*{user.username}">Username error.
            </span>
        </p>
        <label> User Name : <input type="text" th:field="${user.username}"/> </label>
    </div>
    <div>
        <p>
            <span style="color: red;"
                  th:if="${#fields.hasErrors('user.password')}"
                  th:errors="*{user.password}">Password error.
            </span>
        </p>
        <label> Password: <input type="password" th:field="${user.password}"/> </label>
    </div>
    <div>
        <input type="submit" value="Sign Up"/>
    </div>
</form>
</body>
</html>