<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daily Planner</title>
</head>

<body>
<div style="padding: 20px;">
    <input type="button" onclick="location.href='/';" value="Home"/>
    <input type="button" onclick="location.href='/userPanel';" value="UserPanel"/>
    <input type="button" onclick="location.href='/logout';" value="Sign Out"/>
</div>
<br/>
<h1 style="text-align: center">Create new ticket:</h1>
<form method="POST">
    <p>
        <span style="color: red;"
              th:if="${#fields.hasErrors('ticket.description')}"
              th:errors="*{ticket.description}">Description error.
        </span>
    </p>
    <textarea placeholder="Please describe your problem" th:field="*{ticket.description}"/>
    <br/>
    <button type="submit">Create ticket</button>
</form>
</body>
</html>